@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

:root {
  --font-inter: 'Inter', sans-serif;
  --font-rale: 'Raleway', sans-serif;
  --light-color: #ECF4E8;
  --primary-color: #CBF3BB;
  --secondary-color: #ABE7B2;
  --accent-color: #93BFC7;
}